[submodule "webhome"]
	path = webhome
	url = https://github.com/TheKevJames/webhome.git
[submodule "static/resources/notes"]
	path = static/resources/notes
	url = https://github.com/TheKevJames/notes
