@font-face {
  font-family: 'Henny Penny';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/hennypenny/v1/5KmZ_gfx8tPgQLMk4S-PvobN6UDyHWBl620a-IRfuBk.woff) format("woff"); }

html, body {
  margin: 0;
  padding: 0 0 20px 0;
  font: 16px "Verdana", "Arial", sans-serif !important;
  background: url("media/noise.png") black;
  text-align: justify; }

a {
  text-decoration: none;
  color: inherit !important; }

.wordcloud {
  font-family: 'Henny Penny';
  position: relative;
  margin: 0 auto 0 auto;
  height: 400px;
  width: 900px;
  overflow-y: hidden; }
  .wordcloud div {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }

.firstname {
  position: absolute;
  top: 140px;
  left: 160px;
  -webkit-transform: rotate(310deg);
  -moz-transform: rotate(310deg);
  -o-transform: rotate(310deg);
  transform: rotate(310deg);
  font-size: 80px;
  color: #eeeeee;
  cursor: default; }

.lastname {
  position: absolute;
  top: 180px;
  left: 420px;
  -webkit-transform: rotate(325deg);
  -moz-transform: rotate(325deg);
  -o-transform: rotate(325deg);
  transform: rotate(325deg);
  font-size: 74px;
  color: #eeeeee;
  cursor: default; }

.symbol {
  position: absolute;
  top: 185px;
  left: 435px; }

.resume {
  position: absolute;
  top: 170px;
  left: 386px;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -o-transform: rotate(340deg);
  transform: rotate(340deg);
  font-size: 30px;
  color: #eeeeee; }

.github {
  position: absolute;
  top: 193px;
  left: 300px;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  font-size: 36px;
  color: #e65c00; }

.linkedin {
  position: absolute;
  top: 155px;
  left: 460px;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  font-size: 36px;
  color: #47b56c; }

.twitter {
  position: absolute;
  top: 83px;
  left: 259px;
  -webkit-transform: rotate(345deg);
  -moz-transform: rotate(345deg);
  -o-transform: rotate(345deg);
  transform: rotate(345deg);
  font-size: 28px;
  color: #e65c00; }

.facebook {
  position: absolute;
  top: 280px;
  left: 595px;
  -webkit-transform: rotate(65deg);
  -moz-transform: rotate(65deg);
  -o-transform: rotate(65deg);
  transform: rotate(65deg);
  font-size: 28px;
  color: #47b56c; }

.email {
  position: absolute;
  top: 280px;
  left: 672px;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -o-transform: rotate(340deg);
  transform: rotate(340deg);
  font-size: 32px;
  color: #e65c00; }

.coursechart {
  position: absolute;
  top: 200px;
  left: 82px;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -o-transform: rotate(340deg);
  transform: rotate(340deg);
  font-size: 22px;
  color: #47b56c; }

.notes {
  position: absolute;
  top: 132px;
  left: 618px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  font-size: 22px;
  color: #7070ff; }

.uwhub {
  position: absolute;
  top: 270px;
  left: 240px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  font-size: 24px;
  color: #7070ff; }

.se2017 {
  position: absolute;
  top: 180px;
  left: 700px;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -o-transform: rotate(340deg);
  transform: rotate(340deg);
  font-size: 24px;
  color: #7070ff; }

.win8homepage {
  position: absolute;
  top: 110px;
  left: 350px;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -o-transform: rotate(340deg);
  transform: rotate(340deg);
  font-size: 24px;
  color: #7070ff; }

.lip {
  position: absolute;
  top: 260px;
  left: 330px;
  -webkit-transform: rotate(350deg);
  -moz-transform: rotate(350deg);
  -o-transform: rotate(350deg);
  transform: rotate(350deg);
  font-size: 18px;
  color: #47b56c; }

.ibid {
  position: absolute;
  top: 164px;
  left: 360px;
  -webkit-transform: rotate(290deg);
  -moz-transform: rotate(290deg);
  -o-transform: rotate(290deg);
  transform: rotate(290deg);
  font-size: 20px;
  color: #47b56c; }

.french {
  position: absolute;
  top: 280px;
  left: 583px;
  -webkit-transform: rotate(355deg);
  -moz-transform: rotate(355deg);
  -o-transform: rotate(355deg);
  transform: rotate(355deg);
  font-size: 18px;
  color: #e65c00;
  cursor: default; }

.spanish {
  position: absolute;
  top: 260px;
  left: 120px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  font-size: 18px;
  color: #e65c00;
  cursor: default; }

.coding {
  position: absolute;
  top: 158px;
  left: 560px;
  -webkit-transform: rotate(350deg);
  -moz-transform: rotate(350deg);
  -o-transform: rotate(350deg);
  transform: rotate(350deg);
  font-size: 18px;
  color: #e65c00;
  cursor: default; }

.writing {
  position: absolute;
  top: 140px;
  left: 760px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  font-size: 18px;
  color: #47b56c;
  cursor: default; }

.music {
  position: absolute;
  top: 295px;
  left: 215px;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -o-transform: rotate(340deg);
  transform: rotate(340deg);
  font-size: 18px;
  color: #47b56c;
  cursor: default; }

.lightboxbg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  background-color: #000;
  z-index: 11; }

.lightbox {
  display: none;
  position: absolute;
  top: 160px;
  left: 400px;
  padding: 16px;
  border: 2px solid #7070ff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: #fff;
  z-index: 12;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.centered {
  text-align: center;
  margin: 100px auto 0 auto;
  color: #fff; }

#schooltable {
  text-align: center;
  border-collapse: collapse;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: default; }
  #schooltable th {
    font-size: 18px;
    padding: 10px 12px;
    border-top: 2px solid #61210b;
    border-bottom: 2px solid #61210b; }
  #schooltable td {
    padding: 6px 12px;
    border-bottom: 1px solid rgba(20, 20, 20, 0.6); }
    #schooltable td a {
      display: block;
      padding: 0px;
      height: 100%; }

#coursestable {
  text-align: left;
  border-collapse: collapse;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: default; }
  #coursestable th {
    font-size: 18px;
    padding: 10px 12px;
    border-top: 2px solid #61210b;
    border-bottom: 2px solid #61210b; }
  #coursestable td {
    padding: 6px 12px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.6); }
  #coursestable tr:hover {
    background-color: #000; }

/* Homepage Stuff */
#homepage {
  position: relative;
  width: 980px;
  margin: 10% auto 0 auto; }

#homepage1 {
  position: absolute;
  width: 980px;
  height: 480px;
  left: 10px; }
  #homepage1 div {
    margin: 5px;
    text-align: center; }
    #homepage1 div img {
      vertical-align: middle; }
    #homepage1 div a {
      display: block;
      width: 100%;
      height: 100%; }
    #homepage1 div:hover {
      border: 1px white solid;
      box-shadow: 0px 0px 5px white;
      margin-left: 4px;
      margin-top: 4px; }

form {
  position: absolute;
  width: 625px;
  height: 30px;
  left: 345px;
  top: 230px; }

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 580px;
  height: 25px; }
  input:focus {
    border: 2px #00aef0 solid;
    outline: none; }

button {
  position: absolute;
  left: 590px;
  height: 30px;
  width: 30px;
  border: 0;
  background: url("homepage/arrow.png") no-repeat center; }
  button:hover {
    background: url("homepage/arrow-hover.png") no-repeat center;
    cursor: pointer; }

#thumb1-1 {
  position: absolute;
  width: 215px;
  height: 103px;
  left: 0px;
  top: 0px;
  background-color: #409da5;
  line-height: 103px; }
  #thumb1-1 img {
    max-width: 215px;
    max-height: 103px; }

#thumb1-2 {
  position: absolute;
  width: 215px;
  height: 102px;
  left: 0px;
  top: 113px;
  background-color: #4849a6;
  line-height: 102px; }
  #thumb1-2 img {
    max-width: 215px;
    max-height: 102px; }

#thumb1-3 {
  position: absolute;
  width: 140px;
  height: 65px;
  left: 225px;
  top: 0px;
  background-color: #cd432d;
  line-height: 65px; }
  #thumb1-3 img {
    max-width: 140px;
    max-height: 65px; }

#thumb1-4 {
  position: absolute;
  width: 140px;
  height: 65px;
  left: 375px;
  top: 0px;
  background-color: #da8515;
  line-height: 65px; }
  #thumb1-4 img {
    max-width: 140px;
    max-height: 65px; }

#thumb1-5 {
  position: absolute;
  width: 290px;
  height: 140px;
  left: 225px;
  top: 75px;
  background-color: #7d9f2a;
  line-height: 140px; }
  #thumb1-5 img {
    max-width: 290px;
    max-height: 140px; }

#thumb1-6 {
  position: absolute;
  width: 440px;
  height: 215px;
  left: 525px;
  top: 0px;
  background-color: #672c9b;
  line-height: 215px; }
  #thumb1-6 img {
    max-width: 440px;
    max-height: 215px; }

#thumb1-7 {
  position: absolute;
  width: 330px;
  height: 160px;
  left: 0px;
  top: 225px;
  background-color: #621354;
  line-height: 160px; }
  #thumb1-7 img {
    max-width: 330px;
    max-height: 160px; }

#thumb1-8 {
  position: absolute;
  width: 160px;
  height: 75px;
  left: 0px;
  top: 395px;
  background-color: #409da5;
  line-height: 75px; }
  #thumb1-8 img {
    max-width: 160px;
    max-height: 75px; }

#thumb1-9 {
  position: absolute;
  width: 160px;
  height: 75px;
  left: 170px;
  top: 395px;
  background-color: #7d9f2a;
  line-height: 75px; }
  #thumb1-9 img {
    max-width: 160px;
    max-height: 75px; }

#thumb1-10 {
  position: absolute;
  width: 420px;
  height: 205px;
  left: 340px;
  top: 265px;
  background-color: #03417a;
  line-height: 205px; }
  #thumb1-10 img {
    max-width: 420px;
    max-height: 205px; }

#thumb1-11 {
  position: absolute;
  width: 195px;
  height: 98px;
  left: 770px;
  top: 265px;
  background-color: #409da5;
  line-height: 98px; }
  #thumb1-11 img {
    max-width: 195px;
    max-height: 98px; }

#thumb1-12 {
  position: absolute;
  width: 195px;
  height: 97px;
  left: 770px;
  top: 373px;
  background-color: #da8515;
  line-height: 97px; }
  #thumb1-12 img {
    max-width: 195px;
    max-height: 97px; }
