/* Barebones HTML5 CSS3 reset */
*,a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ol,ul{list-style:none;}table{border-collapse:collapse;border-spacing:0;}

/** nanoScroller **/
.scrolling{overflow:hidden}.scrolling .content{position:absolute;overflow:scroll;overflow-x:hidden;top:0;right:0;bottom:0;left:0;padding:20px 25px 20px 20px}.scrolling .content:focus{outline:thin dotted}.scrolling .content::-webkit-scrollbar{visibility:hidden}.has-scrollbar .content::-webkit-scrollbar{visibility:visible}.scrolling>.pane{background:rgba(0,0,0,.25);position:absolute;width:10px;right:-1px;top:0;bottom:0;visibility:hidden\9;opacity:.01;transition:.2s;-webkit-transition:.2s;border-radius:10px;z-index:10}.scrolling>.pane>.slider{background:#444;background:rgba(0,0,0,.5);position:relative;margin:0 1px;border-radius:3px}.scrolling:hover>.pane,.pane.active,.pane.flashed{visibility:visible\9;opacity:.99}#whiteBoxBottom,#whiteBoxTop{position:absolute;height:20px;width:1200px;background-color:#fff;border-radius:20px;z-index:1}#whiteBoxBottom{bottom:0}#whiteBoxTop{top:0}

/* Google Fonts */
@font-face {
	font-family:'Merriweather Sans';
	font-style:normal;
	font-weight:400;
	src:local('Merriweather Sans Regular'), local('MerriweatherSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/merriweathersans/v1/AKu1CjQ4qnV8MUltkAX3sL2aU247V0zTzydO4RoO9Ok.woff) format('woff');
}
@font-face {
	font-family:'Lobster';
	font-style:normal;
	font-weight:400;
	src:local('Lobster'), url(http://themes.googleusercontent.com/static/fonts/lobster/v5/MWVf-Rwh4GLQVBEwbyI61Q.woff) format('woff');
}


nav {
	position:fixed;
	top:0;
	left:0;
	z-index:100;

	height:80px;
	width:100%;

	background:url('media/bgnav.png');

	a {
		font:24px Courier;
		color:white;
		text-decoration:none;
	}

	#navCurr {
		position:fixed;
		top:15px;
		left:30px;
	}

	#navSub {
		position:fixed;
		top:45px;
		left:70px;

		li {
			display:inline;
			margin-right:10px;
		}
	}

	#cv {
		position:fixed;
		top:0;
		right:0;

		margin:4px 6px;
		padding:0 10px;

		font-family:Arial;
		color:white;
		font-size:35px;
		text-decoration:none;
		line-height:68px;
		vertical-align:center;

		border-radius:20px;
		box-shadow:0px 1px 3px #666666;
		text-shadow:1px 1px 3px #666666;
		border:1px solid #686868;
		background:-webkit-gradient(linear, -10 0, 0 140%, from(#686868), to(#c13333));
		background:-moz-linear-gradient(top, #686868, #c13333);

		&:hover {
			background:-webkit-gradient(linear, -10 0, 0 100%, from(#686868), to(#c13333));
			background:-moz-linear-gradient(top, #686868, #c13333);
		}
	}
}

body {
	height:100%;
	width:100%;

	background:url('media/bg.jpg');
}

content {
	position:absolute;
	top:300px;
	left:50%;
}

#name {
	margin-left:-165px;
	margin-top:100px;

	font:55px 'Merriweather Sans';
}

#social {
	margin-left:-165px;

	li {
		float:left;

		height:66px;
	}

	a {
		display:block;
		height:66px;
	}

	img {
		height:66px;

		opacity:0;
		transition:opacity 0.6s;
		-webkit-transition:opacity 0.6s;

		&:hover {
			opacity:1;
			transition:opacity 0.6s;
			-webkit-transition:opacity 0.6s;
		}
	}
}

#s3slider {
	position:relative;
	margin-left:-400px;

	width:800px;
	height:400px;

	overflow:hidden;
}

#s3sliderContent {
	position:absolute;
	top:0;
	margin-left:0;

	width:800px;
}

.s3sliderImage {
	position:relative;
	float:left;
	display:none;

	span {
		position:absolute;
		top:0;
		left:0;

		width:774px;
		padding:10px 13px;

		display:none;
		background-color:#000;
		opacity:0.8;
		filter:alpha(opacity=80);

		font:10px/15px Arial, Helvetica, sans-serif;
		color:#fff;
	}
}

.clear {
	clear:both;
}

#image-coursechart {
	position:relative;
	margin-left:-600px;
	margin-top:-100px;

	height:600px;
	width:1200px;

	background:url('media/coursechart.png');
	border-radius:20px;
	box-shadow:0px 1px 3px #666666;
	border:2px solid #111;
}

#table-coursenotes {
	position:relative;
	margin-left:-230px;
}

#coursestable {
	text-align:left;
	cursor:default;

	th {
		padding:10px 12px;

		border-top:2px solid #61210B;
		border-bottom:2px solid #61210B;

		font-size:18px;
	}

	td {
		padding:6px 12px;

		border-bottom:1px solid rgba(221,221,221,0.6);
	}

	tr:hover {
		background-color:rgba(90,200,110,0.2);
	}
}

#wordFrame {
	position:relative;
	margin-left:-600px;
	margin-top:-100px;

	height:600px;
	width:1200px;

	background-color:white;
	border-radius:20px;
	box-shadow:0px 1px 3px #666666;
	border:2px solid #111;

	h1 {
		font:22px 'Merriweather Sans';
		text-align:center;
		margin-bottom:10px;
	}

	p, dt, dd, li {
		text-align:justify;
		margin:6px 0;
		font-size:17px;
	}
}

.framedImage {
	position:relative;
	left:50%;
	margin:20px;

	border-radius:20px;
	box-shadow:0px 1px 3px #666666;
	border:2px solid #111;
}

#morsepng {
	height:210px;
	width:390px;

	margin-left:-195px;

	background:url('media/morse.png');
}

ol {
	margin-left:25px;
	list-style:decimal;
}

dl {
	margin:20px 5px;

	dt {
		font-weight:bold;
	}

	dd {
		margin:6px 0 6px 20px !important;
	}

	ul, ol {
		list-style:disc;
		margin:3px 0 0 30px;
	}

	ol {
		list-style:decimal;
	}
}

.storyFrame {
	position:relative;
	left:50%;
	margin:20px 20px 20px -500px;

	width:1000px;
	padding:15px;

	background-color:white;
	border-radius:20px;
	box-shadow:0px 1px 3px #666666;
	border:2px solid #111;

	h1 {
		font:22px 'Merriweather Sans';
		text-align:center;
		margin-bottom:10px;
	}

	h2 {
		text-align:right;
		margin-right:15px;
		font:16px 'Lobster';
	}

	p, dt, dd, li {
		text-align:justify;
		margin:6px 0;
		font-size:17px;
	}
}
