@font-face {
  font-family:'Merriweather Sans';
  font-style:normal;
  font-weight:400;
  src:local('Merriweather Sans Regular'), local('MerriweatherSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/merriweathersans/v1/AKu1CjQ4qnV8MUltkAX3sL2aU247V0zTzydO4RoO9Ok.woff) format('woff');
}

$blue:rgb(50,70,170);
$dblue:#363e89;

* {
	margin:0;
	padding:0;
}

html {
	height:100%;

	overflow-y:hidden;
}

body {
	height:100%;

	background:url('media/background.jpg') no-repeat fixed;
}

ol, ul {
	list-style:none;
}

a {
	color:$blue;
	text-decoration:none;
	cursor:pointer;

	&:hover {
		color:$dblue;
	}
}

nav {
	position:fixed;
	top:0;
	left:0;
	z-index:100;

	height:100%;
	min-width:200px;

	background:url('media/background.jpg') no-repeat fixed;

	.fade {
		position:absolute;
		top:0;
		left:100%;
		z-index:100;

		height:100%;
		width:15px;

		div {
			float:left;

			height:100%;
			width:1px;

			background:url('media/background.jpg') no-repeat fixed;
		}
	}

	#navcontainer {
		position:absolute;
		top:300px;
		bottom:0;

		width:100%;
	}
}

.social {
	position:fixed;
	top:20px;
	right:20px;
	z-index:101;

	li {
		float:left;

		height:66px;
	}

	a {
		display:block;
		height:66px;
	}

	img {
		height:66px;

		opacity:0;
		transition:opacity 0.6s;
		-webkit-transition:opacity 0.6s;

		&:hover {
			opacity:1;
			transition:opacity 0.6s;
			-webkit-transition:opacity 0.6s;
		}
	}
}

#arrow {
	height:120px;

	background:url('media/arrow.png') right top no-repeat;

	#name {
		position:relative;
		top:24px;
		left:10px;

		font:58px 'Merriweather Sans';
		text-transform:uppercase;
		letter-spacing:-5px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#name {
		background:-webkit-linear-gradient(280deg, rgb(90,140,250) 12%, rgb(30,50,230) 82%);
		-webkit-background-clip:text;
		-webkit-text-fill-color:transparent;
	}
}

.sitemenu {
	position:relative;
	margin:25px 15px 0 0;
	height:100%;

	text-align:right;

	li {
		float:right;
		clear:both;
		padding:5px 5px 5px 0;

		width:130px;

		font:24px 'Merriweather Sans';
		border-bottom:1px solid #888;

		&:last-child {
			border:none;
		}
	}

	a, a:hover {
		-webkit-transition:color 0.2s;
		transition:color 0.2s;
	}
}

#content {
	position:absolute;
	top:0;
	left:200px;
	margin-left:10px;
	z-index:0;

	height:100%;

	text-align:justify;
	background:url('media/background.jpg') no-repeat fixed;

	article, #article {
		float:left;
		margin:0 5px;
		padding:0 15px;

		height:100%;

		div p {
			text-align:justify;
		}

		.meta {
			font:12px Verdana, Geneva, sans-serif;
			font-style:italic;
			text-align:right;
			color:#444;
		}

		.box {
			padding:15px 15px 30px 15px;

			background-color:#fff;
			-webkit-box-shadow:-3px -3px 18px 0px #bbb;
			-moz-box-shadow:-3px -3px 18px 0px #bbb;
			box-shadow:-3px -3px 18px 0px #bbb;

			.title {
				font:18px 'Merriweather Sans';
			}
		}
	}

	article {
		width:220px;

		background:url('media/backgroundbox.png');

		.box {
			margin:10px -14px 0 -6px;

			.title {
				text-align:center;
			}

			.thumb {
				margin-top:15px;

				border:1px solid $dblue;

				img {
					height:148px;
					width:208px;
					margin-bottom:-5px;
				}
			}

			.excerpt {
				margin:15px 5px 0 5px;

				font-size:14px;

				p {
					display:block;
					margin-bottom:5px;
				}

				a {
					font-style:italic;
				}
			}
		}
	}

	#article {
		margin-left:10px;

		min-width:700px;

		background:rgba(255,255,255,0.2);

		.meta {
			position:relative;
			top:125px;
			right:10px;
		}

		.box {
			margin:76px -14px 0 -6px;
			height:80%;
			overflow-y:scroll;

			.title {
				margin-bottom:5px;
				text-align:left;

				max-width:600px;
			}

			.contents {
				margin:15px 5px 0 5px;

				font-size:16px;

				p {
					display:block;
					margin-bottom:8px;
				}

				a {
					font-style:italic;
				}

				img {
					max-width:600px;
					text-align:center;
					border:1px solid black;
				}
			}
		}
	}
}

/* ------------------- */

#coursestable {
	text-align:left;
	border-collapse:collapse;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	cursor:default;
	th {
		font-size:18px;
		padding:10px 12px;
		border-top:2px solid #61210B;
		border-bottom:2px solid #61210B;
	}
	td {
		padding:6px 12px;
		border-bottom:1px solid rgba(221,221,221,0.6);
	}
	tr:hover {
		background-color:rgba(90,140,250,0.2);
	}
}

dl {
	margin:10px 0;

	dt {
		font-weight:bold;
	}

	dd {
		margin:3px 0 3px 30px;
	}

	ul, ol {
		list-style:disc;
		margin:3px 0 0 30px;
	}

	ol {
		list-style:decimal;
	}
}

/* ------------------- */

#post1 {
	margin-top:140px;
}

#post2 {
	margin-top:220px;
}

#post3 {
	margin-top:100px;
}

#post4 {
	margin-top:120px;
}

#post5 {
	margin-top:170px;
}