@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Sans Regular"), local("MerriweatherSans-Regular"), url(http://themes.googleusercontent.com/static/fonts/merriweathersans/v1/AKu1CjQ4qnV8MUltkAX3sL2aU247V0zTzydO4RoO9Ok.woff) format("woff"); }

* {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #3246aa; }

body {
  background: url("media/background.jpg") no-repeat fixed; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 250px;
  background-image: url("media/background.jpg"); }

.fade {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 100;
  height: 100%;
  width: 14px; }
  .fade div {
    float: left;
    height: 100%;
    width: 1px;
    background-image: url("media/background.jpg"); }

.social {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 101; }
  .social li {
    float: left;
    height: 66px; }
  .social a {
    display: block;
    height: 66px; }
  .social img {
    height: 66px;
    opacity: 0;
    -webkit-transition: opacity 0.8s; }
    .social img:hover {
      opacity: 1;
      -webkit-transition: opacity 0.8s; }

#navcontainer {
  position: absolute;
  top: 300px;
  width: 100%; }

#arrow {
  margin-right: 5px;
  height: 120px;
  background: url("media/arrow.png") right top no-repeat; }

#name {
  position: relative;
  top: 18px;
  left: 10px;
  font: 66px "Merriweather Sans";
  text-transform: uppercase;
  background: -webkit-linear-gradient(280deg, #5a8cfa 12%, #1e32e6 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.mask {
  background: url("media/arrow.png") right bottom; }

.sitemenu {
  position: relative;
  margin: 25px 40px 0 0;
  text-align: right; }
  .sitemenu li {
    float: right;
    clear: both;
    padding: 5px 5px 5px 0;
    width: 100px;
    font: 24px "Merriweather Sans";
    border-bottom: 1px solid black; }
    .sitemenu li:last-child {
      border: none; }
  .sitemenu a {
    -webkit-transition: color 0.2s; }
  .sitemenu a:hover {
    color: #3246aa;
    -webkit-transition: color 0.2s; }

#content {
  position: absolute;
  top: 0;
  left: 200px;
  margin-left: 10px;
  padding-left: 60px;
  z-index: 0;
  height: 100%;
  background: url("media/background.jpg") no-repeat fixed;
  overflow-y: hidden; }

article {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  width: 220px;
  background: url("media/backgroundbox.png"); }
  article div p {
    text-align: justify; }

.meta {
  font: 12px Verdana, Geneva, sans-serif;
  font-style: italic;
  text-align: right;
  color: #444; }

.mainpost {
  margin: 10px -14px 0 -6px;
  padding: 15px 15px 30px 15px;
  background-color: #fff;
  -webkit-box-shadow: -3px -3px 18px 0px #bbbbbb; }

.title {
  font: 18px "Merriweather Sans";
  text-align: center; }

h1 {
  letter-spacing: 0; }
  h1 a {
    color: #3246aa !important; }

.thumb {
  margin-top: 15px;
  border: 1px solid #3246aa; }
  .thumb img {
    height: 148px;
    width: 208px;
    margin-bottom: -5px; }

.excerpt {
  margin: 15px 5px 0 5px;
  font-size: 14px; }
  .excerpt p {
    display: block;
    margin-bottom: 5px; }
  .excerpt a {
    font-style: italic; }

#article {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 25px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); }
  #article div p {
    text-align: justify; }

.metapost {
  position: relative;
  top: 125px;
  right: 10px;
  font: 12px Verdana, Geneva, sans-serif;
  font-style: italic;
  text-align: right;
  color: #444; }

.mainpostfull {
  margin: 76px -14px 0 -6px;
  height: 800px;
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: -3px -3px 18px 0px #bbbbbb; }

.titlepost {
  margin-bottom: 5px;
  font: 18px "Merriweather Sans";
  text-align: left; }

.contents {
  margin: 15px 5px 0 5px;
  font-size: 16px; }
  .contents p {
    display: block;
    margin-bottom: 8px; }
  .contents a {
    font-style: italic; }

.column {
  float: left;
  margin-right: 15px;
  width: 220px; }

.columnlast {
  float: right;
  width: 220px; }

/* ------------------- */
#coursestable {
  text-align: left;
  border-collapse: collapse;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: default; }
  #coursestable th {
    font-size: 18px;
    padding: 10px 12px;
    border-top: 2px solid #61210b;
    border-bottom: 2px solid #61210b; }
  #coursestable td {
    padding: 6px 12px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.6); }
  #coursestable tr:hover {
    background-color: rgba(90, 140, 250, 0.2); }

/* ------------------- */
#post1 {
  margin-top: 140px; }

#post2 {
  margin-top: 220px; }

#post3 {
  margin-top: 100px; }
