@font-face {
	font-family:'Cantarell';
	font-style:normal;
	font-weight:400;
	src:local('Cantarell Regular'), local('Cantarell-Regular'), url(http://themes.googleusercontent.com/static/fonts/cantarell/v4/V86VyqXbc09Sss3BPsMj1z8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family:'Cantarell';
	font-style:normal;
	font-weight:700;
	src:local('Cantarell Bold'), local('Cantarell-Bold'), url(http://themes.googleusercontent.com/static/fonts/cantarell/v4/Yir4ZDsCn4g1kWopdg-ehHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
// @font-face {
// 	font-family:'Cantarell';
// 	font-style:italic;
// 	font-weight:400;
// 	src:local('Cantarell Oblique'), local('Cantarell-Oblique'), url(http://themes.googleusercontent.com/static/fonts/cantarell/v4/Qd6zZq_wf1596L3V_8MIs4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
// }
// @font-face {
// 	font-family:'Cantarell';
// 	font-style:italic;
// 	font-weight:700;
// 	src:local('Cantarell Bold Oblique'), local('Cantarell-BoldOblique'), url(http://themes.googleusercontent.com/static/fonts/cantarell/v4/weehrwMeZBXb0QyrWnRwFTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
// }
@font-face {
	font-family:'Fjalla One';
	font-style:normal;
	font-weight:400;
	src:local('Fjalla One'), local('FjallaOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/fjallaone/v2/rxxXUYj4oZ6Q5oDJFtEd6hsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}


@mixin blur($amount) {
	filter:blur($amount);
	-webkit-filter:blur($amount);
	-moz-filter:blur($amount);
	-o-filter:blur($amount);
	-ms-filter:blur($amount);
	filter:url(blur.svg#blur);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
@mixin boxshadow($args) {
	-webkit-box-shadow:$args;
	-moz-box-shadow:$args;
	box-shadow:$args;
}
@mixin calc($property, $expression) {
	#{$property}:-webkit-calc(#{$expression});
	#{$property}:-moz-calc(#{$expression});
	#{$property}:calc(#{$expression});
}
@mixin flip($rotate) {
	-webkit-transform:#{$rotate};
	-webkit-transform-style:preserve-3d;
	-webkit-backface-visibility:hidden;

	-moz-transform:#{$rotate};
	-moz-transform-style:preserve-3d;
	-moz-backface-visibility:hidden;
}
@mixin transition($property, $amount) {
	-webkit-transition:#{$property} #{$amount};
	transition:#{$property} #{$amount};
}


::-webkit-scrollbar {
	width:12px;
}
::-webkit-scrollbar-track {
	@include boxshadow(inset 0 0 6px rgba(0,0,0,0.5));
}
::-webkit-scrollbar-thumb {
	@include boxshadow(inset 0 0 6px rgba(0,0,0,0.5));
}


$col0:#3c7dc4;
$col1:#4978a2;
$col2:#8aad92;
$col3:#ccc;
$col4:#2b2b2b;

.font0 {
	font-family:'Fjalla One', sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	font-size:43px;
	line-height:46px;
	margin:0 0 3px 0;
}
.font1 {
	font-family:'Cantarell', sans-serif;
	font-weight:700;
	font-size:17px;
	line-height:30px;
	text-transform:uppercase;
	letter-spacing:-1px;
	margin:0 0 23px 0;
}
* {
	font-family:'Cantarell', sans-serif;
	font-size:17px;
	line-height:23px;
	margin:0 0 23px 0;
}


body {
	background-color:$col4;
	overflow:hidden;
}

#background-image {
	background:$col4 url('../images/bg2.jpg');
	background-size:cover;
	opacity:0.4;
	@include blur(3px);

	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

$arrow_nav:120px;
content {
	background:rgba(0,0,0,0.3);
	position:absolute;
	top:$arrow_nav;
	bottom:$arrow_nav;
	left:$arrow_nav;
	right:$arrow_nav;
	overflow-y:auto;
	text-align:center;
}

$content_width:700px;
#centered {
	position:absolute;
	@include calc(top, '50% - 210px');
	@include calc(left, '50% - 350px');
	width:$content_width;

	#pic {
		height:200px;
		width:200px;
		border-radius:50%;
		border:black 2px solid;
	}
}

#name {
	@extend .font0;
	font-size:57px;
	line-height:60px;
	margin-top:1%;
	color:white;
	cursor:default;
}

#quote {
	@extend .font1;
	font-size:20px;
	line-height:23px;
	margin-top:1%;
	color:white;
	cursor:default;
}

#social {
	position:absolute;
	@include calc(left, '50% - 165px');
	width:350px;
	margin-top:2%;

	li {
		height:66px;
		width:66px;
		float:left;

		a {
			position:absolute;
			height:66px;
			width:66px;
			display:block;
			@include transition(all, 0.6s);
		}

		a.front, &:hover a.back {
			@include flip(rotateY(0deg));
		}

		a.back, &:hover a.front {
			@include flip(rotateY(-180deg));
		}
	}

	img {
		height:66px;
		width:66px;
	}

	#linkedin {
		a.front {
			background-image:url(../images/linkedin.png);
		}

		a.back {
			background-image:url(../images/linkedin_color.png);
		}
	}

	#github {
		a.front {
			background-image:url(../images/github.png);
		}

		a.back {
			background-image:url(../images/github_color.png);
		}
	}

	#facebook {
		a.front {
			background-image:url(../images/facebook.png);
		}

		a.back {
			background-image:url(../images/facebook_color.png);
		}
	}

	#twitter {
		a.front {
			background-image:url(../images/twitter.png);
		}

		a.back {
			background-image:url(../images/twitter_color.png);
		}
	}

	#email {
		a.front {
			background-image:url(../images/email.png);
		}

		a.back {
			background-image:url(../images/email_color.png);
		}
	}
}

.arrow_box {
	display:inline-block;
	vertical-align:middle;
	width:$arrow_nav;
	height:$arrow_nav;

	p {
		@extend .font1;
		margin:0;
		color:white;
	}

	img {
		height:$arrow_nav;
		width:$arrow_nav;

		position:relative;
		top:-30px;

		opacity:0;
		@include transition(opacity, 0.2s);

		&:hover {
			opacity:1;
			@include transition(opacity, 0.2s);
		}
	}
}

#nav_up {
	background-color:transparent;
	text-align:center;
	position:absolute;
	top:0;
	left:$arrow_nav*2;
	right:$arrow_nav*2;
	height:$arrow_nav;

	p {
		position:relative;
		bottom:-92px;
	}

	&:before {
		content: '';
		display:inline-block;
		height:100%;
		vertical-align:middle;
		margin-right:-0.25em;
	}
}

#nav_down {
	background-color:transparent;
	text-align:center;
	position:absolute;
	bottom:0;
	left:$arrow_nav*2;
	right:$arrow_nav*2;
	height:$arrow_nav;

	p {
		position:relative;
		bottom:8px;
	}

	&:before {
		content: '';
		display:inline-block;
		height:100%;
		vertical-align:middle;
		margin-right:-0.25em;
	}
}

#nav_left {
	background-color:transparent;
	text-align:center;
	position:absolute;
	left:0;
	top:$arrow_nav*2;
	bottom:$arrow_nav*2;
	width:$arrow_nav;

	p {
		position:relative;
		top:116px;
	}

	&:before {
		content: '';
		display:inline-block;
		height:100%;
		vertical-align:middle;
		margin-right:-0.25em;
	}
}

#nav_right {
	background-color:transparent;
	text-align:center;
	position:absolute;
	right:0;
	top:$arrow_nav*2;
	bottom:$arrow_nav*2;
	width:$arrow_nav;

	p {
		position:relative;
		top:116px;
	}

	&:before {
		content: '';
		display:inline-block;
		height:100%;
		vertical-align:middle;
		margin-right:-0.25em;
	}
}

$timeline_height:80%;
$timeline_width:478px;
#timeline {
	position:absolute;
	top:10%;
	left:80px;
	height:$timeline_height;
	width:$timeline_width;
	text-align:left;
}

.timeitem {
	@extend .font1;
	height:30px;
	width:280px;
	margin:3px 3px 2px 5px;
	padding:4px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	cursor:default;

	@include transition(width, 0.2s);
}

.school, .work {
	&:hover {
		width:330px;
		@include transition(width, 0.2s);
	}
}

.inactive {
	background-color:$col3;
}

.school {
	background-color:$col1;
}

.work, #item3, #item8 {
	background-color:$col2;
}

#item0, #item2 {
	height:65px;
}

#item0 {
	height:85px;
	background:$col1;
	background:-webkit-gradient(linear, left top, left bottom, from($col1), to(rgba(0,0,0,0)));
	background:-moz-linear-gradient(top, $col1, rgba(0,0,0,0));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$col1, endColorstr='#000');
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
}

#information {
	height:$timeline_height - 10%;
	width:50%;
	position:absolute;
	top:15%;
	right:8%;
	text-align:center;
	border-left:15px solid $col4;

	div {
		#title {
			@extend .font0;
			padding-top:20px;
		}

		#tagline {
			@extend .font1;
			padding-left:60px;
			padding-right:60px;
		}

		#info {
			padding:20px 20px 3px 20px;
			text-align:justify;
		}
	}
}

.info_block {
	display:none;
	height:100%;
	overflow-y:auto;
	background-color:$col3;

	p {
		margin-bottom:10px;
	}

	a {
		color:#333;
		text-decoration:none;
	}

	.lfloat, .rfloat {
		background-color:$col3;
		position:absolute;
		padding:1%;
		height:254px;
		width:48%;
		margin-top:3px;
		border-top:1px solid $col4;
	}

	.lfloat {
		left:0;
	}

	.rfloat {
		right:0;
		border-left:1px solid $col4;
		padding-left:10px;
	}
}

#projects {
	height:100%;
	width:100%;
}

.project_item {
	position:absolute;
	height:240px;
	width:380px;
	background:$col3;

	.project_name {
		@extend .font0;
		text-transform:none;
		margin:15px 0 0 0;
	}

	.project_description {
		@extend .font1;
		text-transform:none;
		margin:2px 0 0 0;
	}

	.project_code, .project_live {
		@extend .font1;
		margin:0;
		position:absolute;
		height:35px;
		left:0;
		width:100%;
		text-decoration:none;
		color:white;
	}

	.project_live {
		bottom:35px;
		background-color:$col1;
		@include transition(background-color, 0.4s);

		&:hover {
			background-color:#346699;
			@include transition(background-color, 0.4s);
		}
	}

	.project_code {
		bottom:0;
		background-color:$col2;
		@include transition(background-color, 0.4s);

		&:hover {
			background-color:#70997f;
			@include transition(background-color, 0.4s);
		}
	}

}
