@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Sans Regular"), local("MerriweatherSans-Regular"), url(http://themes.googleusercontent.com/static/fonts/merriweathersans/v1/AKu1CjQ4qnV8MUltkAX3sL2aU247V0zTzydO4RoO9Ok.woff) format("woff"); }
@font-face {
  font-family: 'The Girl Next Door';
  font-style: normal;
  font-weight: 400;
  src: local("The Girl Next Door"), local("TheGirlNextDoor"), url(http://themes.googleusercontent.com/static/fonts/thegirlnextdoor/v5/cWRA4JVGeEcHGcPl5hmX7rOFxJ5Ig03puUh67ume3us.woff) format("woff"); }
@font-face {
  font-family: 'Kite One';
  font-style: normal;
  font-weight: 400;
  src: local("Kite One"), local("KiteOne-Regular"), url(http://themes.googleusercontent.com/static/fonts/kiteone/v2/VNHoD96LpZ9rGZTwjozAOvesZW2xOQ-xsNqO47m55DA.woff) format("woff"); }
@font-face {
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  src: local("Fenix"), local("Fenix-Regular"), url(http://themes.googleusercontent.com/static/fonts/fenix/v2/c6Y-VhDabeO1oBJ8dG5vpA.woff) format("woff"); }
::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

body {
  background-color: black;
  overflow: hidden; }

#background-image {
  background: black url("../images/bg2.jpg") no-repeat;
  opacity: 0.4;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: url(blur.svg#blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

content {
  background: #6464fa;
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(100, 100, 220, 0.9)), to(rgba(90, 90, 170, 0.9)));
  background: -moz-linear-gradient(right top, rgba(100, 100, 220, 0.9), rgba(90, 90, 170, 0.9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6464dc', endColorstr='#5a5aaa');
  position: absolute;
  top: 120px;
  bottom: 120px;
  left: 120px;
  right: 120px;
  text-align: center;
  border-radius: 1px; }

#centered {
  position: absolute;
  top: calc(50% - 275px);
  left: calc(50% - 350px);
  height: 550px;
  width: 700px; }

#name {
  font: 65px 'Merriweather Sans';
  margin: 10px 0;
  cursor: default; }

#quote {
  color: rgba(0, 0, 0, 0.8);
  font: 20px/22px 'The Girl Next Door';
  padding: 0 30px;
  margin-bottom: 60px;
  cursor: default; }

#social {
  position: absolute;
  left: calc(50% - 165px);
  width: 330px; }
  #social li {
    float: left;
    height: 66px; }
  #social a {
    display: block;
    height: 66px; }
  #social img {
    height: 66px;
    opacity: 0;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s; }
    #social img:hover {
      opacity: 1;
      transition: opacity 0.6s;
      -webkit-transition: opacity 0.6s; }

.arrow_box {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 120px; }
  .arrow_box p {
    font: 20px/22px 'The Girl Next Door';
    color: white; }
  .arrow_box img {
    height: 120px;
    width: 120px;
    position: relative;
    top: -22px;
    opacity: 0;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s; }
    .arrow_box img:hover {
      opacity: 1;
      transition: opacity 0.2s;
      -webkit-transition: opacity 0.2s; }

#nav_up {
  background-color: transparent;
  text-align: center;
  position: absolute;
  top: 0;
  left: 240px;
  right: 240px;
  height: 120px; }
  #nav_up p {
    position: relative;
    bottom: -94px; }
  #nav_up:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }

#nav_left {
  background-color: transparent;
  text-align: center;
  position: absolute;
  left: 0;
  top: 240px;
  bottom: 240px;
  width: 120px; }
  #nav_left p {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    position: relative;
    right: -47px;
    top: 47px; }
  #nav_left:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }

#nav_right {
  background-color: transparent;
  text-align: center;
  position: absolute;
  right: 0;
  top: 240px;
  bottom: 240px;
  width: 120px; }
  #nav_right p {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    position: relative;
    left: -47px;
    top: 47px; }
  #nav_right:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }

#nav_down {
  background-color: transparent;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 240px;
  right: 240px;
  height: 120px; }
  #nav_down:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }

#timeline {
  position: absolute;
  top: 10%;
  left: 80px;
  height: 80%;
  width: 478px;
  text-align: left;
  border-left: 3px solid black;
  box-shadow: -5px 0 2px -2px rgba(50, 50, 50, 0.75); }

.timeitem {
  height: 30px;
  width: 200px;
  font: 16px/30px 'Merriweather Sans';
  margin: 3px 3px 2px 5px;
  padding: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: default;
  transition: width 0.2s;
  -webkit-transition: width 0.2s; }

.school:hover, .work:hover {
  width: 250px;
  transition: width 0.2s;
  -webkit-transition: width 0.2s; }

.inactive {
  background-color: rgba(250, 250, 250, 0.8); }

.misc {
  background-color: rgba(200, 250, 150, 0.8); }

.school {
  background-color: rgba(250, 200, 150, 0.8); }

.work, #item3, #item8 {
  background-color: rgba(200, 200, 250, 0.8); }

#item0, #item2 {
  height: 65px; }

#item0 {
  height: 85px;
  background: #fac896;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 200, 150, 0.8)), to(transparent));
  background: -moz-linear-gradient(top, rgba(250, 200, 150, 0.8), transparent);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fac896', endColorstr='#000');
  background-color: transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px; }

#information {
  height: 70%;
  width: 50%;
  max-width: 800px;
  position: absolute;
  top: 15%;
  right: 8%;
  text-align: center;
  border-left: 15px solid black; }
  #information div #title {
    font: 28px/46px 'Merriweather Sans';
    padding-top: 20px; }
  #information div #tagline {
    font: 14px/22px 'Kite One';
    padding-left: 60px;
    padding-right: 60px; }
  #information div #info {
    font: 14px/22px 'Fenix';
    padding: 40px 20px 3px 20px;
    text-align: justify; }

.info_block {
  display: none;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(200, 200, 220, 0.4); }
  .info_block p {
    margin-bottom: 10px; }
  .info_block a {
    color: #333;
    text-decoration: none; }
  .info_block .lfloat, .info_block .rfloat {
    background-color: rgba(200, 200, 220, 0);
    position: absolute;
    padding: 1%;
    height: 254px;
    width: 48%;
    margin-top: 3px;
    border-top: 1px solid black; }
  .info_block .lfloat {
    left: 0; }
  .info_block .rfloat {
    right: 0;
    border-left: 1px solid black;
    padding-left: 10px; }

#projects {
  height: 100%;
  width: 100%; }

.project_item {
  position: absolute;
  height: 32%;
  width: 23%;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }
  .project_item .project_name {
    font: 24px 'Merriweather Sans';
    margin: 5px 0 0 0; }
  .project_item .project_description {
    font: 16px 'Merriweather Sans';
    margin: 2px 0 0 0; }
  .project_item .project_code, .project_item .project_live {
    font: 18px/34px 'Merriweather Sans';
    position: absolute;
    left: 1%;
    height: 34px;
    width: 98%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none;
    color: #333; }
  .project_item .project_live {
    bottom: 38px;
    background-color: #fac896;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s; }
    .project_item .project_live:hover {
      background-color: #f0b478;
      transition: background-color 0.4s;
      -webkit-transition: background-color 0.4s; }
  .project_item .project_code {
    bottom: 2px;
    background-color: #c8c8fa;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s; }
    .project_item .project_code:hover {
      background-color: #b4b4f0;
      transition: background-color 0.4s;
      -webkit-transition: background-color 0.4s; }

.project_horiz0, #project0, #project1, #project2, #project3 {
  top: 1%; }

.project_horiz1, #project4, #project5, #project6, #project7 {
  top: 34%; }

.project_horiz2 {
  top: 67%; }

.project_vert0, #project0, #project4 {
  left: 1%; }

.project_vert1, #project1, #project5 {
  left: 26%; }

.project_vert2, #project2, #project6 {
  left: 51%; }

.project_vert3, #project3, #project7 {
  left: 76%; }
