@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: local("Cantarell Regular"), local("Cantarell-Regular"), url(http://themes.googleusercontent.com/static/fonts/cantarell/v4/V86VyqXbc09Sss3BPsMj1z8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.font-header, #headline #bio #name, .list div h3, .job-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 40px;
  color: #191919; }

.font-subheader, nav div a, #headline #bio #quote, #content div h2, .list div p, .list div .live, .list div .code, .list div .read-more {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #191919; }

.font-body, .font-single, .list div p.description, .list div p.date, #blog-entries ul li, #blog-page .next-post, #blog-page .prev-post, #headline #map-container .marker-container .marker .label .last-spotted, #headline #map-container .marker-container .marker .label .location, #content div h4, #content div p, .job-review p {
  font-family: 'Cantarell', sans-serif;
  font-size: 17px;
  line-height: 23px;
  margin: 0 0 23px 0;
  color: #191919; }

.font-single, .list div p.description, .list div p.date, #blog-entries ul li, #blog-page .next-post, #blog-page .prev-post {
  margin: 0 0 10px 0 !important; }

body {
  overflow-x: hidden; }

#line {
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  z-index: 99;
  background-color: #99b7d1; }

nav {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 30px;
  background-color: #7ba284; }
  nav div {
    display: inline;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px; }
    nav div a {
      line-height: 40px;
      color: white; }
      nav div a:hover {
        text-decoration: none;
        color: #e6e6e6; }
    nav div#cv {
      float: right; }

#spacer {
  margin-top: 120px; }

#headline {
  margin: 0 50px; }
  #headline #symbol {
    padding: 0;
    margin-bottom: 20px;
    min-height: 180px;
    min-width: 180px;
    max-height: 240px;
    max-width: 240px; }
  #headline #bio #name {
    font-size: 57px;
    line-height: 60px;
    color: #191919;
    cursor: default;
    padding-top: 50px; }
  #headline #bio #quote {
    line-height: 30px;
    color: #4978a2;
    cursor: default;
    padding-top: 10px; }
  #headline #map-container {
    height: 250px;
    float: right;
    margin-bottom: 20px;
    padding: 0;
    border: 1px solid #191919; }
    #headline #map-container #map {
      width: 100%;
      height: 100%; }
    #headline #map-container .marker-container .marker {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -25px; }
      #headline #map-container .marker-container .marker .icon {
        width: 48px;
        height: 48px;
        margin-left: -24px;
        z-index: 3;
        border: 1px solid #99b7d1;
        border-radius: 50%;
        background-image: url("../img/icon.jpg");
        background-size: 100% 100%; }
      #headline #map-container .marker-container .marker .label {
        display: block;
        padding: 4px 20px;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 4px;
        color: #191919; }
        #headline #map-container .marker-container .marker .label .last-spotted {
          font-size: 9px;
          line-height: 15px;
          text-transform: uppercase;
          margin: 0; }
        #headline #map-container .marker-container .marker .label .location {
          font-size: 16px;
          line-height: 20px;
          font-weight: bold;
          margin: 0; }

#social {
  text-align: center; }
  @media (min-width: 768px) {
    #social {
      padding-top: 20px; } }
  #social i {
    font-size: 72px;
    color: black;
    height: 62px;
    width: 62px;
    vertical-align: middle;
    line-height: 0.88;
    border-radius: 16px;
    margin-left: 15.5px; }
    #social i.fa-facebook-square:hover {
      background-color: #3b5998; }
    #social i.fa-twitter-square:hover {
      background-color: #55acee; }
    #social i.fa-github-square:hover {
      background-color: #999999; }
    #social i.fa-linkedin-square:hover {
      background-color: #0077b5; }
    #social i.fa-envelope-square:hover {
      background-color: #db4437; }

#content div h2 {
  text-align: center; }
#content div h4 {
  font-style: italic; }

.list {
  width: 100%; }
  .list div {
    width: 90%;
    margin: 10px 5% 20px 5%;
    border: 1px #727272 solid;
    border-radius: 4px; }
    .list div h3 {
      text-transform: none;
      padding: 5px;
      text-align: center; }
    .list div p {
      text-transform: none;
      padding: 5px; }
      .list div p.overview {
        display: none; }
      .list div p.description, .list div p.date {
        text-align: center; }
      .list div p.title {
        text-align: center;
        margin-bottom: 0; }
    .list div .live, .list div .code, .list div .read-more {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      padding: 5px;
      margin: 0;
      width: 100%;
      color: white;
      text-decoration: none;
      text-align: center; }
      .list div .live:hover, .list div .code:hover, .list div .read-more:hover {
        opacity: 0.9; }
    .list div .live {
      background-color: #99b7d1; }
    .list div .code {
      background-color: #7ba284; }
    .list div .read-more {
      background-color: #727272; }
    .list div :last-child {
      border-radius: 0 0 4px 4px; }

.job-review img {
  width: 100%; }

#blog-entries ul li {
  margin-bottom: 0 !important;
  padding: 5px; }
#blog-entries ul ul {
  list-style-type: disc;
  margin-left: 1.6em; }
  #blog-entries ul ul li {
    padding: 1px; }

#blog-page {
  text-align: justify; }
  #blog-page .next-post {
    float: right; }
    #blog-page .next-post:after {
      content: " \2192"; }
  #blog-page .prev-post {
    float: left; }
    #blog-page .prev-post:before {
      content: "\2190  "; }
  #blog-page img {
    width: 100%;
    border: 1px solid #191919; }

#personal-projects {
  margin-top: 20px; }
  #personal-projects .list div {
    width: 300px;
    margin: 0 1.3%; }

blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child {
  margin-bottom: 0 !important; }
