@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway Thin'), local('Raleway-Thin'), url(http://fonts.gstatic.com/s/raleway/v9/RJMlAoFXXQEzZoMSUteGWIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
}

#hexclock-time {
    font: 110px/110px 'Raleway';
    color: white;

    text-align: center;

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    margin-top: -55px;
}
