@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 400;
    src: local('Cantarell Regular'), local('Cantarell-Regular'), url(http://themes.googleusercontent.com/static/fonts/cantarell/v4/V86VyqXbc09Sss3BPsMj1z8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin boxsizing($args) {
    -webkit-box-sizing: $args;
    -moz-box-sizing: $args;
    box-sizing: $args;
}

$color-black: #191919;
$color-gray: lighten($color-black, 35%);
$color-white-transparent: rgba(255, 255, 255, 0.8);

$color-accent-primary-nofade: #4978a2;
$color-accent-primary: lighten($color-accent-primary-nofade, 25%);
$color-accent-secondary: darken(#8aad92, 5%);

.font-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 40px;
    color: $color-black;
}
.font-subheader {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: $color-black;
}
.font-body {
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
    color: $color-black;
}

body {
    overflow-x: hidden;
}

#line {
    position: absolute;
    top: 0;

    height: 2px;
    width: 100%;

    z-index: 99;

    background-color: $color-accent-primary;
}

#headline {
    margin: 50px 50px 0 50px;

    #symbol {
        padding: 0;

        margin-bottom: 20px;

        min-height: 180px;
        min-width: 180px;
        max-height: 240px;
        max-width: 240px;
    }

    #bio {
        #name {
            @extend .font-header;

            font-size: 57px;
            line-height: 60px;
            color: $color-black;
            cursor: default;

            padding-top: 50px;
        }

        #quote {
            @extend .font-subheader;

            line-height: 30px;
            color: $color-accent-primary-nofade;
            cursor: default;

            padding-top: 10px;
        }
    }

    #map-container {
        height: 250px;
        float: right;

        margin-bottom: 20px;
        padding: 0;

        border: 1px solid $color-black;

        #map {
            width: 100%;
            height: 100%;
        }

        .marker-container {
            .marker {
                position: absolute;
                top: 50%;
                left: 50%;

                margin-top: -25px;

                .icon {
                    width: 48px;
                    height: 48px;
                    margin-left: -24px;

                    z-index: 3;

                    border: 1px solid $color-accent-primary;
                    border-radius: 50%;
                    background-image: url("../img/icon.jpg");
                    background-size: 100% 100%;
                }

                .label {
                    display: block;
                    padding: 4px 20px;
                    margin-top: 10px;

                    background-color: $color-white-transparent;
                    border-radius: 4px;

                    color: $color-black;

                    .last-spotted {
                        @extend .font-body;

                        font-size: 9px;
                        line-height: 15px;
                        text-transform: uppercase;

                        margin: 0;
                    }

                    .location {
                        @extend .font-body;

                        font-size: 16px;
                        line-height: 20px;
                        font-weight: bold;

                        margin: 0;
                    }
                }
            }
        }
    }
}

#social {
    text-align: right;
    margin: 0 50px 40px 50px;
    @media (min-width: 768px) {
        padding-top: 20px;
    }

    i {
        font-size: 72px;
        color: black;
        height: 62px;
        width: 62px;
        vertical-align: middle;
        line-height: 0.88;
        border-radius: 16px;

        margin-left: 15.5px;

        &.fa-facebook-square:hover {
            background-color: #3b5998;
        }
        &.fa-twitter-square:hover {
            background-color: #55acee;
        }
        &.fa-github-square:hover {
            background-color: #999999;
        }
        &.fa-linkedin-square:hover {
            background-color: #0077b5;
        }
        &.fa-envelope-square:hover {
            background-color: #db4437;
        }
    }
}

#content {
    div {
        h2 {
            @extend .font-subheader;

            text-align: center;
        }
    }
}

.list {
    width: 100%;

    div {
        width: 90%;
        margin: 10px 5% 20px 5%;

        border: 1px $color-gray solid;
        border-radius: 4px;

        h3 {
            @extend .font-header;

            text-transform: none;

            padding: 5px;
            text-align: center;
        }

        p {
            @extend .font-subheader;

            text-transform: none;
            padding: 5px;

            &.overview {
                display:none;
            }

            &.description, &.title {
                text-align: center;
            }

            &.title {
                margin-bottom: 0;
            }
        }

        .live, .code, .read-more {
            @extend .font-subheader;
            @include boxsizing(border-box);

            display: block;
            padding: 5px;
            margin: 0;

            width: 100%;

            color: white;
            text-decoration: none;
            text-align: center;

            &:hover {
                opacity: 0.9;
            }
        }

        .live {
            background-color: $color-accent-primary;
        }

        .code {
            background-color: $color-accent-secondary;
        }

        .read-more {
            background-color: $color-gray;
        }

        :last-child {
            border-radius: 0 0 4px 4px;
        }
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 80%;
    }
}

.modal-content {
    border-radius: 4px;
}

.job-title {
    @extend .font-header;
}

.job-review {
    p {
        @extend .font-body;
    }

    img {
        width: 100%;
    }
}
