{% extends "layout.html" %}

{% block title %}Blog{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}

    <div class='container-fluid' id='content'>
        <div class='col-lg-8 col-sm-12' id='blog-recent'>
            {% if not filter_tag %}
                <h2>Recent Posts</h2>
            {% else %}
                <h2><span class='hidden-sm hidden-xs'>Posts Tagged With </span>"{{ filter_tag }}" (<a href="{{ url_for('blog') }}">view all</a>)</h2>
            {% endif %}

            <div class='list'>
            {% for post in recent %}
                <div id='post-{{ post.path }}'>
                    <h3>{{ post.title }}</h3>
                    <p class='date'>{{ post.date }}</p>
                    <a class='live' href="{{ url_for('blog_page', name=post.path) }}">View</a>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class='col-lg-4 col-sm-12' id='blog-entries'>
            <div class='row' id='blog-entries-date'>
                <h2>All Posts (by date)</h2>

                <ul class='list'>
                {% for year, grouped in by_date.items() %}
                    <li>{{ year }}</li>
                    <ul>
                    {% for post in grouped %}
                        <li>
                            <a href="{{ url_for('blog_page', name=post.path) }}">{{ post.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endfor %}
                </ul>
            </div>

            <div class='row' id='blog-entries-tags'>
                <h2>All Tags</h2>

                <ul class='list'>
                {% for tag in by_tag|sort %}
                    <li>
                        <a href="{{ url_for('blog') }}?tag={{ tag }}">{{ tag }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
