<!doctype html>
<html lang='en'>
<head>
{% block head %}
    <meta charset='utf-8'>
    <meta name='author' content='Kevin James'>
    <meta name='description' content='Homepage of Kevin James | Almost-Software-Engineer @uWaterloo; @AeroFS Intern and former @Talk_IQ, @AtomicLabs, @Oracle, @WriberInc, and @Enflick Intern; Coder; Investor; Musician; Writer'>
    <meta name='keywords' content='Kevin,James'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% block title %}{% endblock %} | Kevin James</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='https://cdn.rawgit.com/richleland/pygments-css/master/emacs.css' />

    <link rel='icon' href='/img/favicon.png' />
    <link rel='alternate' type='application/rss+xml' title='RSS Feed' href='http://thekev.in/feed.xml' />
{% endblock %}
</head>

<body>
{% block body %}
    <div id='line'></div>

    <nav>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
        </div>
        <div>
            <a href="{{ url_for('blog') }}">Blog</a>
        </div>
        <div>
            <a href="{{ url_for('projects') }}">Projects</a>
        </div>

        <div id='cv'>
            <a href='/resource/cv.pdf'>R&eacute;sum&eacute;</a>
        </div>
    </nav>
{% endblock %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js'></script>
{% block js %}{% endblock %}

</body>
</html>
