{% extends "layout.html" %}

{% block title %}Projects{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}

    <div class='container-fluid' id='content'>
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h2>Personal Projects</h2>
        </div>

        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' id='personal-projects'>
            <div class='list'>
                <div id='jarvis'>
                    <h3>Jarvis</h3>
                    <a class='code' href='https://github.com/TheKevJames/jarvis'>Github</a>
                    <a class='read-more' href='/blog/2015-10-17-jarvis'>Read More</a>
                </div>

                <div id='dead-simple-ops'>
                    <h3>Dead Simple Ops</h3>
                    <p class='description'>Stop worrying about ops, let it be Dead Simple.</p>
                    <a class='live' href='https://pypi.python.org/pypi/dead-simple-ops'>Live (15K+ downloads)</a>
                    <a class='code' href='https://github.com/TheKevJames/dead-simple-ops'>Github</a>
                </div>

                <div id='you-should-read'>
                    <h3>YouShouldRead</h3>
                    <p class='description'>Targeted recommendations from friends.</p>
                    <a class='live' href='http://youhouldread.thekev.in'>Live</a>
                    <a class='code' href='https://github.com/TheKevJames/you-should-read'>Github</a>
                </div>

                <div id='python-util'>
                    <h3>Python Util</h3>
                    <p class='description'>Useful Python snippets.</p>
                    <a class='live' href='https://pypi.python.org/pypi/python-util'>Live (20K+ downloads)</a>
                    <a class='code' href='https://github.com/TheKevJames/python-util'>Github</a>
                </div>

                <div id='postgres-stats-publisher'>
                    <h3>Postgres Stats Publisher</h3>
                    <p class='description'>Publishes PostgreSQL stats to Librato and Carbon.</p>
                    <a class='code' href='https://github.com/TheKevJames/postgres-stats-publisher'>Github</a>
                </div>

                <div id='gamesync'>
                    <h3>GameSync</h3>
                    <p class='description'>Sync your game saves and configs over Dropbox.</p>
                    <a class='live' href='https://pypi.python.org/pypi/gamesync'>Live (5K+ downloads)</a>
                    <a class='code' href='https://github.com/TheKevJames/gamesync'>Github</a>
                </div>

                <div id='cde2015'>
                    <h3>CDE 2015</h3>
                    <p class='description'>Conference app for CDE 2015.</p>
                    <a class='code' href='https://github.com/TheKevJames/cde2015'>Github</a>
                </div>

                <div id='packtex'>
                    <h3>PackTeX</h3>
                    <p class='description'>Manage *TeX packages.</p>
                    <a class='live' href='https://pypi.python.org/pypi/packtex'>Live (20K+ downloads)</a>
                    <a class='code' href='https://github.com/TheKevJames/packtex'>Github</a>
                </div>

                <div id='almost-empty'>
                    <h3>AlmostEmpty</h3>
                    <p class='description'>Create barebone projects in a variety of languages.</p>
                    <a class='live' href='https://pypi.python.org/pypi/almost-empty'>Live (40K+ downloads)</a>
                    <a class='code' href='https://github.com/TheKevJames/almost-empty'>Github</a>
                </div>

                <div id='hexclock'>
                    <h3>HexClock</h3>
                    <p class='description'>Let the time dictate the background.</p>
                    <a class='live' href='hexclock'>Live</a>
                </div>

                <div id='engport'>
                    <h3>EngPort</h3>
                    <p class='description'>Export EngSoc announcements.</p>
                    <a class='live' href='http://engport.herokuapp.com/'>Live</a>
                    <a class='code' href='https://github.com/TheKevJames/engport'>Github</a>
                </div>

                <div id='more'>
                    <h3>More</h3>
                    <p class='description'>Various other projects on Github.</p>
                    <a class='code' href='https://github.com/TheKevJames'>Github</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src='/js/wookmark-2.0.1.min.js'></script>
<script>
$('#personal-projects .list').wookmark({
    itemWidth: 300,
    offset: 12,
});
</script>
{% endblock %}
