.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #f8f8f8; }
.codehilite .c { color: #008800; font-style: italic }
.codehilite .err { border: 1px solid #FF0000 }
.codehilite .k { color: #AA22FF; font-weight: bold }
.codehilite .o { color: #666666 }
.codehilite .ch { color: #008800; font-style: italic }
.codehilite .cm { color: #008800; font-style: italic }
.codehilite .cp { color: #008800 }
.codehilite .cpf { color: #008800; font-style: italic }
.codehilite .c1 { color: #008800; font-style: italic }
.codehilite .cs { color: #008800; font-weight: bold }
.codehilite .gd { color: #A00000 }
.codehilite .ge { font-style: italic }
.codehilite .gr { color: #FF0000 }
.codehilite .gh { color: #000080; font-weight: bold }
.codehilite .gi { color: #00A000 }
.codehilite .go { color: #888888 }
.codehilite .gp { color: #000080; font-weight: bold }
.codehilite .gs { font-weight: bold }
.codehilite .gu { color: #800080; font-weight: bold }
.codehilite .gt { color: #0044DD }
.codehilite .kc { color: #AA22FF; font-weight: bold }
.codehilite .kd { color: #AA22FF; font-weight: bold }
.codehilite .kn { color: #AA22FF; font-weight: bold }
.codehilite .kp { color: #AA22FF }
.codehilite .kr { color: #AA22FF; font-weight: bold }
.codehilite .kt { color: #00BB00; font-weight: bold }
.codehilite .m { color: #666666 }
.codehilite .s { color: #BB4444 }
.codehilite .na { color: #BB4444 }
.codehilite .nb { color: #AA22FF }
.codehilite .nc { color: #0000FF }
.codehilite .no { color: #880000 }
.codehilite .nd { color: #AA22FF }
.codehilite .ni { color: #999999; font-weight: bold }
.codehilite .ne { color: #D2413A; font-weight: bold }
.codehilite .nf { color: #00A000 }
.codehilite .nl { color: #A0A000 }
.codehilite .nn { color: #0000FF; font-weight: bold }
.codehilite .nt { color: #008000; font-weight: bold }
.codehilite .nv { color: #B8860B }
.codehilite .ow { color: #AA22FF; font-weight: bold }
.codehilite .w { color: #bbbbbb }
.codehilite .mb { color: #666666 }
.codehilite .mf { color: #666666 }
.codehilite .mh { color: #666666 }
.codehilite .mi { color: #666666 }
.codehilite .mo { color: #666666 }
.codehilite .sa { color: #BB4444 }
.codehilite .sb { color: #BB4444 }
.codehilite .sc { color: #BB4444 }
.codehilite .dl { color: #BB4444 }
.codehilite .sd { color: #BB4444; font-style: italic }
.codehilite .s2 { color: #BB4444 }
.codehilite .se { color: #BB6622; font-weight: bold }
.codehilite .sh { color: #BB4444 }
.codehilite .si { color: #BB6688; font-weight: bold }
.codehilite .sx { color: #008000 }
.codehilite .sr { color: #BB6688 }
.codehilite .s1 { color: #BB4444 }
.codehilite .ss { color: #B8860B }
.codehilite .bp { color: #AA22FF }
.codehilite .fm { color: #00A000 }
.codehilite .vc { color: #B8860B }
.codehilite .vg { color: #B8860B }
.codehilite .vi { color: #B8860B }
.codehilite .vm { color: #B8860B }
.codehilite .il { color: #666666 }
