<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='author' content='Kevin James'>
    <meta name='description' content='Homepage of Kevin James | TalkIQ and AtomicLabs engineer; former Oracle, AeroFS, Wriber, and Enflick intern; uWaterloo software engineer; investor; musician; writer'>
    <meta name='keywords' content='Kevin,James'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% block title %}{% endblock %} | Kevin James</title>

    <link rel='icon' href='/img/favicon.png' />
    <link rel='alternate' type='application/rss+xml' title='RSS Feed' href='http://thekev.in/feed.xml' />
</head>

<body>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    {% block css %}{% endblock %}

{% block body %}
    <div id='line'></div>

    <nav>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
        </div>
        <div>
            <a href="{{ url_for('blog') }}">Blog</a>
        </div>
        <div>
            <a href="{{ url_for('stats') }}">Stats</a>
        </div>
        <div class='dropdown'>
            <button>&#x25BC;</button>
            <div class='dropdown-content'>
                <a href="{{ url_for('hexclock') }}">Hexclock</a>
                <!-- TODO: jarvis-api docs -->
                <!-- <a href="https://jarvis.thekev.in/">Jarvis API</a> -->
                <!-- TODO: league-api docs -->
                <!-- <a href="https://league.thekev.in/">LoL API</a> -->
                <a href="{{ url_for('quotes') }}">Quotes</a>
                <a href="https://status.thekev.in/">Status</a>
            </div>
        </div>

        <div id='cv'>
            <a href='/resource/cv.pdf'>C.V.</a>
        </div>
    </nav>
{% endblock %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js'></script>
{% block js %}{% endblock %}

</body>
</html>
