{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block css %}
<link rel='stylesheet' href='/css/emacs.css' />
{% endblock %}

{% block body %}
    {{ super() }}

    <div class='container-fluid' id='content'>
        <div class='col-lg-1 col-md-1 hidden-sm hidden-xs'></div>
        <div class='col-lg-10 col-md-10 col-sm-12 col-xs-12' id='blog-page'>
            <div class='row'>
                <h2>{{ post.title }}</h2>
            </div>

            <div class='row'>
                <div class='col-lg-4 col-md-4 col-sm-5 col-xs-5'>
                    <h4>{{ post.date }}</h4>
                </div>
                <div class='col-lg-4 col-md-4 hidden-sm hidden-xs text-center'>
                    <h4>
                    {% for tag in post.tag_list %}
                        {% if loop.index0 != 0 %}
                            <span>- </span>
                        {% endif %}
                        <a class='blog-tag' href="{{ url_for('blog') }}?tag={{ tag|urlencode }}">{{ tag }}</a>
                    {% endfor %}
                    </h4>
                </div>
                <div class='col-lg-4 col-md-4 col-sm-7 col-xs-7 text-right' >
                    <h4><a href="{{ url_for('blog_rss') }}">Subscribe with RSS</a></h4>
                </div>

                <div class='hidden-lg hidden-md col-sm-12 col-xs-12 text-center'>
                    <h4>
                    {% for tag in post.tag_list %}
                        {% if loop.index0 != 0 %}
                            <span>- </span>
                        {% endif %}
                        <a class='blog-tag' href="{{ url_for('blog') }}?tag={{ tag|urlencode }}">{{ tag }}</a>
                    {% endfor %}
                    </h4>
                </div>
            </div>


            <div class='row'>
                {{ post.html|safe }}
            </div>
        </div>
        <div class='col-lg-1 col-md-1 hidden-sm hidden-xs'></div>
    </div>
{% endblock %}
