{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block css %}
<link rel='stylesheet' href='/css/emacs.css' />
{% endblock %}

{% block body %}
    {{ super() }}

    <div class='blog-wrapper' id='content'>
        <div id='blog-page'>
            <div>
                <h2>{{ post.title }}</h2>
            </div>

            <div id='post-metadata'>
                <div id='post-date'>
                    <h4>{{ post.date }}</h4>
                </div>
                <div id='post-tags'>
                    <h4>
                    {% for tag in post.tag_list %}
                        {% if loop.index0 != 0 %}
                            <span>- </span>
                        {% endif %}
                        <a class='blog-tag' href="{{ url_for('blog') }}?tag={{ tag|urlencode }}">{{ tag }}</a>
                    {% endfor %}
                    </h4>
                </div>
                <div id='post-rss' >
                    <h4><a href="{{ url_for('blog_rss') }}">Subscribe with RSS</a></h4>
                </div>
            </div>

            <div>
                {{ post.html|safe }}
            </div>
        </div>
    </div>
{% endblock %}
