<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name='author' content='Kevin James'>
	<meta name='description' content='Homepage of Kevin James'>
	<meta name='keywords' content='Kevin,James'>

	<title>Kevin James</title>

	<link rel='stylesheet' href='/static/css/reset.css' />
	<link rel='stylesheet' href='/static/css/style.css' />
	<link rel='icon' href='/static/images/favicon.png' />
</head>

<body>
	<div id='background-image'></div>
	<a href='projects'>
		<div id='nav_left'>
			<div class='arrow_box' style='background-image:url("/static/images/arrow_left.png");'><p>projects</p><img src='/static/images/arrow_left_hover.png' alt='arrow left' /></div>
		</div>
	</a>
	<a href='timeline'>
		<div id='nav_down'>
			<div class='arrow_box' style='background-image:url("/static/images/arrow_down.png");'><p>timeline</p><img src='/static/images/arrow_down_hover.png' alt='arrow down' /></div>
		</div>
	</a>
	<a href='resource?resume.pdf'>
		<div id='nav_right'>
			<div class='arrow_box' style='background-image:url("/static/images/arrow_right.png");'><p>resume</p><img src='/static/images/arrow_right_hover.png' alt='arrow right' /></div>
		</div>
	</a>
	<content style='overflow-y:hidden;'>
		<div id='centered'>
			<img id='pic' src='http://s.gravatar.com/avatar/ba8ec5ac9fe95bb410bda4416aba08c8?s=200' alt='Kevin James'>
			<h1 id='name'>Kevin James</h1>
			<h4 id='quote'>{{ quote }}</h4>
			<ul id='social'>
				<li id='linkedin'><a href='http://linkedin.com/in/TheKevJames' class='front'></a><a href='http://linkedin.com/in/TheKevJames' class='back'></a></li>
				<li id='github'><a href='https://github.com/TheKevJames' class='front'></a><a href='https://github.com/TheKevJames' class='back'></a></li>
				<li id='twitter'><a href='https://twitter.com/TheKevJ' class='front'></a><a href='https://twitter.com/TheKevJ' class='back'></a></li>
				<li id='facebook'><a href='https://www.facebook.com/TheKevJames' class='front'></a><a href='https://www.facebook.com/TheKevJames' class='back'></a></li>
				<li id='email'><a href='&#109;&#097;&#105;&#108;&#116;&#111;:&#075;&#101;&#118;&#105;&#110;&#074;&#097;&#109;&#101;&#115;&#064;&#084;&#104;&#101;&#075;&#101;&#118;&#046;&#105;&#110;' class='front'></a><a href='&#109;&#097;&#105;&#108;&#116;&#111;:&#075;&#101;&#118;&#105;&#110;&#074;&#097;&#109;&#101;&#115;&#064;&#084;&#104;&#101;&#075;&#101;&#118;&#046;&#105;&#110;' class='back'></a></li>
			</ul>
		</div>
	</content>

<script>
document.onkeyup = KeyCheck;
function KeyCheck(e) {
	var KeyID = (window.event) ? event.keyCode : e.keyCode;

	switch(KeyID) {
		case 37:
			window.location = 'projects';
			break;
		case 39:
			window.location = 'resource?resume.pdf';
			break;
		case 40:
			window.location = 'timeline';
			break;
	}
}
</script>
</body>
</html>
