<!doctype html>
<html>
<head>
	<title>Kevin James</title>

	<link rel='stylesheet' href='/static/css/reset.css' />
	<link rel='stylesheet' href='/static/css/style.css' />
	<link rel='icon' href='/static/images/favicon.png' />
</head>

<body>
	<div id='background-image'></div>
	<a href='/'>
		<div id='nav_right'>
			<div class='arrow_box' style='background-image:url("/static/images/arrow_right.png");'><p>home</p><img src='/static/images/arrow_right_hover.png' /></div>
		</div>
	</a>
	<content>
		<div id='projects'>
			<div class='project_item' id='project0'>
				<div class='project_name'>AlmostEmpty</div>
				<div class='project_description'>Create barebones (<i>AlmostEmpty</i>) projects.</div>
				<a class='project_code' href='https://github.com/TheKevJames/almost-empty'>GitHub</a>
			</div>
			<div class='project_item' id='project1'>
				<div class='project_name'>EngPort</div>
				<div class='project_description'>Export EngSoc events.</div>
				<a class='project_live' href='http://engport.herokuapp.com/'>Live</a>
				<a class='project_code' href='https://github.com/TheKevJames/engport'>GitHub</a>
			</div>
			<div class='project_item' id='project2'>
				<div class='project_name'>wkrpt</div>
				<div class='project_description'>Write your Workterm Report.</div>
				<a class='project_code' href='https://github.com/TheKevJames/wkrpt'>GitHub</a>
			</div>
			<div class='project_item' id='project3'>
				<div class='project_name'>UWHub</div>
				<div class='project_description'>Get uW information.</div>
				<a class='project_live' href='https://play.google.com/store/apps/details?id=com.cromiumapps.uwhub'>Live</a>
				<a class='project_code' href='https://github.com/CromiumApps/uwhub'>GitHub</a>
			</div>
			<div class='project_item' id='project4'>
				<div class='project_name'>ESSCO.AGM 2013</div>
				<div class='project_description'>Learn about ESSCO.</div>
				<a class='project_live' href='http://www.agm.essco.ca/'>Live</a>
			</div>
		</div>
	</content>

<script>
document.onkeyup = KeyCheck;
function KeyCheck(e) {
	var KeyID = (window.event) ? event.keyCode : e.keyCode;

	switch(KeyID) {
		case 39:
			window.location = '/';
			break;
	}
}
</script>
</body>
</html>