<!doctype html>
<html>
<head>
	<title>Kevin James</title>

	<link rel='stylesheet' href='/static/css/reset.css' />
	<link rel='stylesheet' href='/static/css/style.css' />
	<link rel='icon' href='/static/images/favicon.png' />
</head>

<body>
	<div id='background-image'></div>
	<a href='/'>
		<div id='nav_left'>
			<div class='arrow_box' style='background-image:url("/static/images/arrow_left.png");'><p>home</p><img src='/static/images/arrow_left_hover.png' alt='arrow left' /></div>
		</div>
	</a>
	<content>
		{% if type == 'pdf' %}
			<iframe src='/static/resources/{{ load }}' style='width:100%; max-width:850px; height:95%; padding:1%;'>
		{% elif type == 'png' %}
			<div style='height:95%; width:80%; margin-left:10%; margin-right:10%; padding:1%; overflow-x:scroll; overflow-y:hidden;'>
				<img src='/static/resources/{{ load }}' alt='{{ load }}' style='height:100%;' />
			<div>
		{% elif type == 'foreign_pdf' %}
			<iframe src='http://docs.google.com/viewer?url=https://github.com/TheKevJames/notes/raw/master/{{ load }}&embedded=true' style='width:100%; max-width:850px; height:95%; padding:1%;'>
			}
		{% elif type == 'foreign_png' %}
			<div style='height:95%; width:80%; margin-left:10%; margin-right:10%; padding:1%; overflow-x:scroll; overflow-y:hidden;'>
				<img src='https://github.com/TheKevJames/notes/raw/master/{{ load }}' alt='{{ load }}' style='height:100%;' />
			<div>
		{% endif %}
	</content>

<script>
document.onkeyup = KeyCheck;
function KeyCheck(e) {
	var KeyID = (window.event) ? event.keyCode : e.keyCode;

	switch(KeyID) {
		case 37:
			window.location = '/';
			break;
	}
}
</script>
</body>
</html>
