{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<div class='blog-wrapper' id='content'>
    <div id='blog-page'>
        <div>
            <h2>{{ post.title }}</h2>
        </div>

        <div id='post-metadata'>
            <div id='post-date'>
                <h4>{{ post.date }}</h4>
            </div>
            <div id='post-tags'>
                <h4>
                {% for tag in post.tags %}
                    {% if loop.index0 != 0 %}
                        <span>- </span>
                    {% endif %}
                    <a class='blog-tag' href="/blog/{{ tag.replace(' ', '_') }}.html">{{ tag }}</a>
                {% endfor %}
                </h4>
            </div>
            <div id='post-rss' >
                <h4><a href='/feed.xml'>Subscribe with RSS</a></h4>
            </div>
        </div>

        <div>
            {{ post.html|safe }}
        </div>

        <hr />

        <div id='post-github'>
            As always, this article is available <a href='https://github.com/TheKevJames/web/blob/master/site/blog/{{ post.fname.name }}'>on GitHub</a>. Comments (ie. <a href='https://github.com/TheKevJames/web/issues/new'>issues</a>) are welcome!
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<link rel='stylesheet' href='/codehilite.light.css' media="(prefers-color-scheme: light)" />
<link rel='stylesheet' href='/codehilite.css' media="(prefers-color-scheme: no-preference), (prefers-color-scheme: dark)" />
<style>
/* positioning */
.blog-wrapper {
  text-align: center; }
#blog-page {
  display: inline-block;
  width: 92%;
  text-align: left; }
@media (min-width:600px) { #blog-page {
  width: 88%; } }

/* arrows */
.next-post {
  float: right; }
  .next-post:after {
    content: " \2192"; }
.prev-post {
  float: left; }
  .prev-post:before {
    content: "\2190  "; }

/* metadata */
#post-metadata div h4 {
  font-weight: 300; }
#post-date {
  width: 33%;
  float: left; }
  #post-date h4 {
    padding-left: 20px; }
#post-tags {
  width: 34%;
  float: left;
  text-align: center; }
#post-rss {
  width: 33%;
  float: right;
  text-align: right; }
#post-github {
  font-weight: 300;
  margin-bottom: 20px; }

/* tables */
table {
  border-collapse: collapse;
  display: block;
  margin-bottom: 23px;
  overflow-x: auto; }
  table th, table td {
    border: 1px solid #a89984;
    padding: 6px 13px; }
  table tbody tr:nth-child(odd) {
    background-color: #282828; }
  table td.linenos pre {
    color: #a89984;
    background-color: #282828; }
  .codehilite {
    background: #282828 !important; }
  @media (prefers-color-scheme: light) {
    table th, table td {
      border: 1px solid #7c6f64; }
    table tbody tr:nth-child(odd) {
      background-color: #fbf1c7; }
    table td.linenos pre {
      color: #7c6f64;
      background-color: #fbf1c7; }
    .codehilite {
      background: #fbf1c7 !important; } }

/* misc */
h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px; }
#blog-page hr {
  margin: 20px 5px;
  border: 0;
  border-top: 1px solid #a89984; }
@media (prefers-color-scheme: light) {
  table th, table td {
    border-top: 1px solid #7c6f64; } }
</style>
{% endblock %}
