{% extends "layout.html" %}

{% block title %}Publications{% endblock %}

{% block body %}
<div id='content'>
    <div id='publications-main'>
        <div class='list'>
            <div>
                <h3>Blog</h3>
                <p class='description'>An occasionally-updated collection of long-form musings on varying topics. Thoughts are my own and I make no guarantee that they hold any value.</p>
                <a class='live' href="{{ url_for('blog') }}">View</a>
            </div>

            <div>
                <h3>Reviews</h3>
                <p class='description'>In an effort to be more mindful in thinking about what I read, I've been trying to get in a habit of writing at least a quick review &amp; rating for everything. This is clearly working, as I am several hundred items behind at this point.</p>
                <a class='live' href="{{ url_for('reviews') }}">View</a>
            </div>

            <div>
                <h3>Cocktails</h3>
                <p class='description'>I enjoy futzing about with mixed drinks. All my favourite and/or best recipes eventually end up here.</p>
                <a class='live' href="{{ url_for('cocktails') }}">View</a>
            </div>
        </div>
    </div>

    <div id='publications-sidebar'>
        <div class='row'>
            <h2>Other</h2>

            <ul class='list'>
                <li>2021-10-06: <a href='https://thenewstack.io/how-dialpad-migrated-its-ai-development-from-pip-to-poetry/'>collaboration with Vasundhara Gautam on migrating Dialpad development from pip to poetry</a></li>
                <li>2021-06-29: <a href='https://patents.google.com/patent/US11050807B1'>patent US11050807B1 for integrated AI and VoIP platforms.</a></li>
                <li>2020-04-21: <a href='https://medium.com/google-cloud/kubernetes-engine-gke-multi-cluster-life-cycle-management-series-17ff892b85c8'>collaboration with Google on Kubernetes multi-cluster lifecycle management strategies</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
/* columns */
#publications-main {
  width: 100%;
  float: left; }
  #publications-main h2 {
    padding: 0 4%; }
#publications-sidebar {
  width: 100%;
  float: right; }
@media (min-width:801px)  {
  #publications-main {
    width: 60%; }
  #publications-sidebar {
    width: 40%; } }

/* tag header */
@media (max-width:600px)  {
  .hidden-small {
    display: none; } }

#publications-sidebar ul li {
  margin-bottom: 0;
  padding: 5px; }
  #publications-sidebar ul li ul li {
    padding: 1px; }

.list div {
  width: 90%;
  margin: 10px 5% 20px 5%;
  border: 1px #a89984 solid;
  border-radius: 4px; }
  .list div h3 {
    font-size: 28px;
    font-weight: normal;
    text-transform: none;
    padding: 5px;
    margin: 10px 0 5px;
    text-align: center; }
  .list div p {
    text-transform: none;
    padding: 5px; }
    .list div p.description {
      padding-left: 15px;
      padding-right: 15px; }
  .list div .live {
    background-color: #458588;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 5px;
    color: #ebdbb2;
    text-decoration: none;
    text-align: center;
    transition: opacity .5s ease-out; }
    .list div .live:hover {
      opacity: 0.8;
      transition: opacity .5s ease-out; }
  .list div :last-child {
    border-radius: 0 0 4px 4px; }
@media (prefers-color-scheme: light) {
  .list div {
    border: 1px #7c6f64 solid; }
    .list div .live {
      color: #3c3836; } }
</style>
{% endblock %}
