{% extends "layout.html" %}

{% block title %}{{ review.title }}{% endblock %}

{% block body %}
<div class='reviews-wrapper' id='content'>
    <div id='reviews-page'>
        <div>
            <h2>{{ review.title }}</h2>
        </div>

        <div id='review-metadata'>
            <div id='review-date'>
                <h4>{{ review.date }}</h4>
            </div>
            <div id='review-tags'>
                <h4>
                {% for tag in review.tag_list %}
                    {% if loop.index0 != 0 %}
                        <span>- </span>
                    {% endif %}
                    <a class='reviews-tag' href="{{ url_for('reviews_tagged', tag=tag.replace(' ', '_')) }}">{{ tag }}</a>
                {% endfor %}
                </h4>
            </div>
            <div id='review-rating' >
                <h4>{{review.rating}} / 10</h4>
            </div>
        </div>

        <div>
            {{ review.html|safe }}

            {% if review.link is defined %}
              <a href='{{review.link}}'>Link.</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
/* positioning */
.reviews-wrapper {
  text-align: center; }
#reviews-page {
  display: inline-block;
  width: 92%;
  text-align: left; }
@media (min-width:600px) { #reviews-page {
  width: 88%; } }

/* arrows */
.next-review {
  float: right; }
  .next-review:after {
    content: " \2192"; }
.prev-review {
  float: left; }
  .prev-review:before {
    content: "\2190  "; }

/* metadata */
#review-metadata div h4 {
  font-weight: 300; }
#review-date {
  width: 33%;
  float: left; }
  #review-date h4 {
    padding-left: 20px; }
#review-tags {
  width: 34%;
  float: left;
  text-align: center; }
#review-rating {
  width: 33%;
  float: right;
  text-align: right; }

/* misc */
h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px; }
hr {
  margin: 20px 5px;
  border: 0;
  border-top: 1px solid #7c6f64; }
</style>
{% endblock %}
