{% extends "layout.html" %}

{% block title %}Reviews{% endblock %}

{% block body %}
<div id='content'>
    <div id='reviews-recent'>
        {% if not filter_tag %}
            <h2>Recent Reviews</h2>
        {% else %}
            <h2><span class='hidden-small'>Reviews Tagged With </span>"{{ filter_tag }}" (<a href="{{ url_for('reviews') }}">view all</a>)</h2>
        {% endif %}

        <div class='list'>
        {% for review in recent %}
            <div id='review-{{ review.path }}'>
                <h3>{{ review.title }}</h3>
                <p class='rating'>{{review.rating}} / 10</p>
                <p class='description'>{{ review.description }}</p>
                <a class='live' href="{{ url_for('review_page', name=review.path) }}">View</a>
            </div>
        {% endfor %}
        </div>
    </div>

    <div id='reviews-entries'>
        <div class='row' id='reviews-entries-rating'>
            <h2>All Reviews (by rating)</h2>

            <ul class='list'>
            {% for rating, grouped in by_rating.items() %}
                <!-- TODO: depend on length, set "active" and "display: none|block" -->
                <li class="accordion {{ 'active' if grouped|length < 4 else '' }}">{{ rating }}</li>
                <li style="display: {{ 'block' if grouped|length < 4 else 'none' }};">
                  <ul>
                  {% for review in grouped %}
                      <li>
                          <a href="{{ url_for('review_page', name=review.path) }}">{{ review.title }}</a>
                      </li>
                  {% endfor %}
                  </ul>
                </li>
            {% endfor %}
            </ul>
        </div>

        <div id='reviews-entries-tags'>
            <h2>All Tags</h2>

            <ul class='list'>
            {% for tag in by_tag|sort %}
                <li>
                    <a href="{{ url_for('reviews_tagged', tag=tag.replace(' ', '_')) }}">{{ tag }}</a> ({{ by_tag[tag]|length }})
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
/* columns */
#reviews-recent {
  width: 100%;
  float: left; }
  #reviews-recent h2 {
    padding: 0 4%; }
#reviews-entries {
  width: 100%;
  float: right; }
@media (min-width:801px)  {
  #reviews-recent {
    width: 60%; }
  #reviews-entries {
    width: 40%; } }

/* tag header */
@media (max-width:600px)  {
  .hidden-small {
    display: none; } }

/* sidebar */
#reviews-entries ul li {
  margin-bottom: 0;
  padding: 5px; }
  #reviews-entries ul li ul li {
    padding: 1px; }

.accordion {
  cursor: pointer; }
  .accordion:after {
    content: '\02795';
    font-size: 13px;
    margin-left: 5px; }
.active:after {
  content: "\2796"; }

.list div {
  width: 90%;
  margin: 10px 5% 20px 5%;
  border: 1px #a89984 solid;
  border-radius: 4px;
  position: relative; }
  .list div h3 {
    font-size: 28px;
    font-weight: normal;
    text-transform: none;
    padding: 5px;
    margin: 10px 0 5px;
    text-align: center; }
  .list div p {
    text-transform: none;
    padding: 5px; }
    .list div p.description {
      text-align: center; }
    .list div p.rating {
      position: absolute;
      right: 5px;
      top: 0; }
  .list div .live {
    background-color: #458588;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 5px;
    color: #ebdbb2;
    text-decoration: none;
    text-align: center;
    transition: opacity .5s ease-out; }
    .list div .live:hover {
      opacity: 0.8;
      transition: opacity .5s ease-out; }
  .list div :last-child {
    border-radius: 0 0 4px 4px; }
@media (prefers-color-scheme: light) {
  .list div {
    border: 1px #7c6f64 solid; }
    .list div .live {
      color: #3c3836; } }
</style>
{% endblock %}

{% block js %}
<script>
for (var x of document.getElementsByClassName("accordion")) {
  x.addEventListener("click", function() {
    this.classList.toggle("active");

    let next = this.nextElementSibling;
    if (next.style.display === "block") {
      next.style.display = "none";
    } else {
      next.style.display = "block";
    }
  });
}
</script>
{% endblock %}
